{% extends "base.html" %}

{% block content %}
    <h1>Report Tools Example Charts</h1>

    <h2>{{ report.pie_chart.title }}</h2>
    {{ report.pie_chart }}

    <h2>{{ report.column_chart.title }}</h2>
    {{ report.column_chart }}

    <h2>{{ report.multiseries_column_chart.title }}</h2>
    {{ report.multiseries_column_chart }}

    <h2>{{ report.bar_chart.title }}</h2>
    {{ report.bar_chart }}

    <h2>{{ report.multiseries_bar_chart.title }}</h2>
    {{ report.multiseries_bar_chart }}

    <h2>{{ report.line_chart.title }}</h2>
    {{ report.line_chart }}

    <h2>{{ report.multiseries_line_chart.title }}</h2>
    {{ report.multiseries_line_chart }}

    <h2>{{ report.naughty_pie_chart.title }}</h2>
    {{ report.naughty_pie_chart }}

    <h2>{{ report.template_chart.title }}</h2>
    {{ report.template_chart }}
{% endblock %}
